################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/NulahStatus/bin
/NulahStatus/obj/Debug
/NulahStatus/bin
/NulahStatus/obj
/NulahStatus/appsettings.json
/NulahStatus/appsettings.dev.json
*.user
